# can download by running: bash requirement.txt
pip3 install pandas
pip3 install bs4
pip3 install datetime
pip3 install re
pip3 install apscheduler.schedulers.blocking 
pip3 install BlockingScheduler
pip3 install virtualenv
sudo apt-get install python3-venv


