# can download by running: bash requirement.txt
pip3 install pandas
pip3 install bs4
pip3 install datetime
pip3 install apscheduler
pip3 install virtualenv
sudo apt-get install python3-venv
pip3 install GitPython
pip3 install sodapy 

pip3 install dash
pip3 install numpy
conda install plotly -y

# For Longitude Latitude to Census Tract
conda install geopandas -y

# didnt use do del
# pip3 install pygeocoder
# pip3 install geocoder

